@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, html {
    overflow: visible;
    height: 200vh;
}
body {
    background-color: black;
}
.content {
    overflow: visible;
}
.content #background_video {
    min-height: 100%;
    max-width: 100%;
    object-fit: fill;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(50%);
    visibility: visible;
}
.content #background_video_alternative {
    min-height: 100%;
    max-width: 100%;
    object-fit: fill;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(50%);
    visibility: hidden;
}
.unscrollable {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content.close {
    transition: all 0.4s ease-in;
    visibility: hidden;
}
.content .careers_details #shameless_product_placement_logo {
    position: absolute;
    width: 15%;
    right: 2.5%;
    top: 2.5%;
    transition: 250ms linear;
}
.content .careers_details #shameless_product_placement_logo:hover {
    filter: brightness(75%);
    transition: 250ms linear;
}
.content .careers_details #careers_text {
    color: white;
    font-family: 'MuseoModerno';
    position: absolute;
    top: 20%;
    left: 2%;
    font-size: 5.5vw;
    font-weight: bold;
}
.content .careers_details #careers_subtext {
    margin-right: 2%;
    color: white;
    font-family: 'MuseoModerno';
    position: absolute;
    top: 40%;
    left: 2%;
    font-size: 2.5vw;
}
.content .careers_details #careers_subtitle {
    color: white;
    font-family: 'MuseoModerno';
    position: absolute;
    top: 90%;
    left: 2%;
    font-size: 3vw;
    font-weight: bold;
}
.content .careers_details .scrollable_area .careers_career .careers_buttons {
    margin-left: 10%;
    margin-top: 3%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 4vw;
    font-family: 'MuseoModerno';
    transition: 250ms linear;
}
.content .careers_details .scrollable_area .careers_career .careers_buttons:hover {
    filter: brightness(50%);
    transition: 250ms linear;
}
.content .careers_details .scrollable_area .careers_career .careers_extensions {
    background-color: white;
}
.content .careers_details .scrollable_area .careers_career .careers_descriptions {
    background-color: white;
    width: 100%;
    transition: 250ms linear;
    display: grid;
    grid-template-columns: 64% 35%;
    column-gap: 1%;
}
.content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text {
    padding: 2%;
}
.content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_main_text {
    font-family: 'Fira Sans';
    font-size: 3.4vw;
    color: black;

}
.content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_skills_titles {
    font-family: 'Fira Sans';
    font-size: 2vw;
    color: black;
}
.content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_skills_list {
    font-family: 'Fira Sans';
    font-size: 1.2vw;
    color: gray;
}
.content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_apply_button_section .careers_apply_buttons {
    text-align: center;
    transition: 250ms linear;
    border-color: black;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.5vw;
    outline: 0 solid transparent;
    padding: 1%;
    word-break: break-word;
    border-style: solid;
    font-family:'Fira Sans';
    text-decoration: none;
    filter: drop-shadow(0 5px);
}
.content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_apply_button_section .careers_apply_buttons:hover {
    transition: 250ms linear;
    transform: translate(0px, 5px);
    filter: drop-shadow(0 0);
}
.content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_images {
    width: 100%;
    padding: 4%;
    margin-bottom: 4%;
}
.content .careers_details .scrollable_area .careers_contact_us {
    padding-bottom: 70%;
    text-align: center;
}
.content .careers_details .scrollable_area .careers_contact_us #careers_contact_us_title {
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    font-family: 'MuseoModerno';
    font-size: 5.5vw;
    text-align: center;
    font-weight: bold;
}
.content .careers_details .scrollable_area .careers_contact_us #careers_contact_us_subtext {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    font-family: 'MuseoModerno';
    font-size: 3vw;
    text-align: center;
}
.content .careers_details .scrollable_area .careers_contact_us #contact_us_button {
    margin-bottom: 20%;
    transition: 250ms linear;
    border-color: black;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 3vw;
    outline: 0 solid transparent;
    padding: 1%;
    word-break: break-word;
    border-style: solid;
    font-family:'Fira Sans';
    text-decoration: none;
    filter: drop-shadow(0 5px);
}
.content .careers_details .scrollable_area .careers_contact_us #contact_us_button:hover {
    transition: 250ms linear;
    transform: translate(0px, 5px);
    filter: drop-shadow(0 0);
}
@media only screen and (max-device-width: 1024px) {
    .content #background_video {
        min-height: 100svh;
        max-width: 100vw;
        max-width: 100%;
        object-fit: fill;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        filter: brightness(50%);
        visibility: hidden;
    }
    .content #background_video_alternative {
        min-height: 100svh;
        max-width: 100vw;
        max-width: 100%;
        object-fit: fill;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        filter: brightness(50%);
        visibility: visible;
    }
    .unscrollable {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .content.close {
        transition: all 0.4s ease-in;
        visibility: hidden;
    }
    .content .careers_details #shameless_product_placement_logo {
        position: absolute;
        width: 40%;
        right: 3%;
        top: 3%;
        transition: 250ms linear;
    }
    .content .careers_details #shameless_product_placement_logo:hover {
        filter: brightness(75%);
        transition: 250ms linear;
    }
    .content .careers_details #careers_text {
        color: white;
        font-family: 'MuseoModerno';
        position: absolute;
        top: 20%;
        left: 2%;
        font-size: 10vw;
    }
    .content .careers_details #careers_subtext {
        color: white;
        font-family: 'MuseoModerno';
        position: absolute;
        top: 40%;
        left: 2%;
        font-size: 5vw;
    }
    .content .careers_details #careers_subtitle {
        color: white;
        font-family: 'MuseoModerno';
        position: absolute;
        top: 80%;
        left: 2%;
        font-size: 8vw;
    }
    .content .careers_details .scrollable_area .careers_career .careers_buttons {
        margin-left: 10%;
        margin-top: 3%;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 7vw;
        font-family: 'MuseoModerno';
        transition: 250ms linear;
    }
    .content .careers_details .scrollable_area .careers_career .careers_buttons:hover {
        filter: brightness(50%);
        transition: 250ms linear;
    }
    .content .careers_details .scrollable_area .careers_career .careers_extensions {
        background-color: white;
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions {
        background-color: white;
        width: 100%;
        transition: 250ms linear;
        display: block;
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text {
        padding: 2%;
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_main_text {
        margin-left: 2%;
        margin-right: 2%;
        font-family: 'Fira Sans';
        font-size: 5vw;
        color: black;
    
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_skills_titles {
        margin-left: 2%;
        margin-right: 2%;
        font-family: 'Fira Sans';
        font-size: 4.5vw;
        color: black;
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_skills_list {
        margin-left: 2%;
        margin-right: 2%;
        font-family: 'Fira Sans';
        font-size: 4vw;
        color: gray;
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_apply_button_section {
        text-align: center;
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_apply_button_section .careers_apply_buttons {
        text-align: center;
        transition: 250ms linear;
        border-color: black;
        background-color: white;
        color: black;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 5vw;
        outline: 0 solid transparent;
        padding: 1%;
        word-break: break-word;
        border-style: solid;
        font-family:'Fira Sans';
        text-decoration: none;
        filter: drop-shadow(0 5px);
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_text .careers_apply_button_section .careers_apply_buttons:hover {
        transition: 250ms linear;
        transform: translate(0px, 5px);
        filter: drop-shadow(0 0);
    }
    .content .careers_details .scrollable_area .careers_career .careers_descriptions .careers_images {
        width: 100%;
        padding: 4%;
        margin-bottom: 4%;
    }
    .content .careers_details .scrollable_area .careers_contact_us {
        text-align: center;
        padding-bottom: 70%;
    }
    .content .careers_details .scrollable_area .careers_contact_us #careers_contact_us_title {
        margin-top: 4%;
        margin-left: 2%;
        margin-right: 2%;
        color: white;
        font-family: 'MuseoModerno';
        font-size: 10vw;
        text-align: center;
        font-weight: bold;
    }
    .content .careers_details .scrollable_area .careers_contact_us #careers_contact_us_subtext {
        margin-left: 2%;
        margin-right: 2%;
        color: white;
        font-family: 'MuseoModerno';
        font-size: 6vw;
        text-align: center;
    }
    .content .careers_details .scrollable_area .careers_contact_us #contact_us_button {
        transition: 250ms linear;
        border-color: black;
        background-color: white;
        color: black;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 6vw;
        outline: 0 solid transparent;
        padding: 1%;
        word-break: break-word;
        border-style: solid;
        font-family:'Fira Sans';
        text-decoration: none;
        filter: drop-shadow(0 5px);
    }
    .content .careers_details .scrollable_area .careers_contact_us #contact_us_button:hover {
        transition: 250ms linear;
        transform: translate(0px, 5px);
        filter: drop-shadow(0 0);
    }
}