@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.blur {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    filter: blur(7px);
    pointer-events: none;
}
.content.close {
    transition: all 0.4s ease-in;
    visibility: hidden;
}
.unscrollable {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content .scrolling_area {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scroll 10s linear infinite;
    position: absolute;
    bottom: 150%;
}
.content .scrolling_area .scrolling_text {
    font-family: 'MuseoModerno';
    display: inline-block;
    color: white;
    font-size: 3vw;
    text-decoration: none;
}
@keyframes scroll {
    0% {
        transform: rotate(-20deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(-20deg) translate3d(-50%, 0, 0);
    }
}
.content #blurrable_section #consumer_background {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}
.content #blurrable_section #shameless_product_placement_logo {
    position: absolute;
    height: auto;
    width: 15%;
    top: 3%;
    right: 3%;
    transition: 250ms linear;
}
.content #blurrable_section #shameless_product_placement_logo:hover {
    filter: brightness(75%);
    transition: 250ms linear;
}
.content #blurrable_section #shih_zoo_merchandise {
    position: absolute;
    width: 8%;
    top: 2%;
    left: 14%;
    transition: filter 250ms linear;
}
.content #blurrable_section #shih_zoo_merchandise:hover {
    filter: brightness(75%);
    transition: filter 250ms linear;
}
.content #blurrable_section #shih_tzu {
    height: auto;
    width: 0.7%;
    opacity: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: scale 3s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
    background: transparent;
}
@keyframes scale {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(50);
        opacity: 1;
    }
}
.content #blurrable_section #shih_zoo_logo {
    position: absolute;
    height: auto;    
    width: 20%;
    left: 4%;
    bottom: 22%;
    transition: 250ms transform linear;
}
.content #blurrable_section #shih_zoo_logo:hover {
    transform: translate(0px, -10px);
    transition: 250ms transform linear;
}
.content #blurrable_section #shih_zoo_download_button {
    height: 60px;
    transition: 250ms;
    position: absolute;
    bottom: 10%;
    left: 5%;
    transition: 250ms linear;
    border-color: black;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 3vw;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    word-break: break-word;
    border-style: solid;
    font-family:'Fira Sans';
    text-decoration: none;
    filter: drop-shadow(0 5px);
    transition: transform filter 250ms;
}
.content #blurrable_section #shih_zoo_download_button:hover {
    transition: transform filter 250ms linear;
    transform: translate(0px, 5px);
    filter: drop-shadow(0 0);
}
.content #blurrable_section #les_dudes_coming_soon {
    position: absolute;
    height: auto;
    width: 20%;
    right: 4%;
    bottom: 20%;
    transition: filter 250ms linear;
}
.content #blurrable_section #les_dudes_coming_soon:hover {
    filter: brightness(75%);
    transition: filter 250ms linear;
}
.content #blurrable_section .consumer_social_media {
    position: absolute;
    bottom: 1%;
    right: 1%;
}
.content #blurrable_section .consumer_social_media .consumer_social_media_icons {
    display: inline;
    color: white;
    font-size: 3vw;
    text-decoration: none;
    transition: 250ms linear;
}
.content #blurrable_section .consumer_social_media .consumer_social_media_icons:hover {
    transition: 250ms linear;
    filter: brightness(50%);
}
.content #shih_zoo_download_popup {
    visibility: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 90%;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.content #shih_zoo_download_popup.open_popup {
    visibility: visible;
}
.content #shih_zoo_download_popup #shih_zoo_download_popup_close {
    float: right;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.content #shih_zoo_download_popup #shih_zoo_download_popup_close #shih_zoo_download_popup_close_button {
    background-color: white;
    border: none;
}
.content #shih_zoo_download_popup #shih_zoo_download_popup_header {
    display: grid;
    grid-template-columns: 19% 80%;
    column-gap: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.content #shih_zoo_download_popup #shih_zoo_download_popup_header #shih_zoo_app_logo {
    width: 100%;
    text-align: center;
}
.content #shih_zoo_download_popup #shih_zoo_download_popup_header #shih_zoo_download_title {
    font-family: 'MuseoModerno';
    font-size: 4vw;
    color: black;
}
.content #shih_zoo_download_popup #shih_zoo_download_popup_header #shih_zoo_download_text {
    font-family: 'Fira Sans';
    font-size: 1.25vw;
    color: black;
}
.content #shih_zoo_download_popup #shih_zoo_download_popup_separator {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
.content #shih_zoo_download_popup #shih_zoo_download_available_text {
    font-family: 'Fira Sans';
    font-size: 2vw;
    color: black;
    text-align: center;
}
.content #shih_zoo_download_popup #shih_zoo_download_button_section {
    text-align: center;
}
.content #shih_zoo_download_popup #shih_zoo_download_button_section .shih_zoo_download_button_links {
    text-decoration: none;
    padding: 2%;
}
.content #shih_zoo_download_popup #shih_zoo_download_button_section .shih_zoo_download_buttons {
    width: 20vw;
    transition: 250ms linear;
    margin-bottom: 4%;
}
.content #shih_zoo_download_popup #shih_zoo_download_button_section .shih_zoo_download_buttons:hover {
    transition: 250ms linear;
    transform: scale(1.1);
}
@media only screen and (max-device-width: 1024px) {
    .content .scrolling_area {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        animation: scroll 10s linear infinite;
        position: absolute;
        bottom: 125%;
    }
    .content .scrolling_area .scrolling_text {
        font-family: 'MuseoModerno';
        display: inline-block;
        color: white;
        font-size: 7vw;
        text-decoration: none;
    }
    @keyframes scroll {
        0% {
            transform: rotate(-20deg) translate3d(0, 0, 0);
        }
        100% {
            transform: rotate(-20deg) translate3d(-50%, 0, 0);
        }
    }
    .content #blurrable_section #consumer_background {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
    }
    .content #blurrable_section #shameless_product_placement_logo {
        position: absolute;
        height: auto;
        width: 40%;
        top: 3%;
        right: 3%;
        transition: 250ms linear;
    }
    .content #blurrable_section #shameless_product_placement_logo:hover {
        filter: brightness(75%);
        transition: 250ms linear;
    }
    .content #blurrable_section #shih_zoo_merchandise {
        position: absolute;
        width: 15%;
        top: 2%;
        left: 14%;
        transition: filter 250ms linear;
    }
    .content #blurrable_section #shih_zoo_merchandise:hover {
        filter: brightness(75%);
        transition: filter 250ms linear;
    }
    .content #blurrable_section #shih_tzu {
        height: auto;
        width: 50%;
        opacity: 0;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        animation: scale 3s ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.1s;
        background: transparent;
    }
    @keyframes scale {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .content #blurrable_section #shih_zoo_logo {
        position: absolute;
        height: auto;    
        width: 30%;
        left: 4%;
        bottom: 22%;
        transition: 250ms transform linear;
    }
    .content #blurrable_section #shih_zoo_logo:hover {
        transform: translate(0px, -10px);
        transition: 250ms transform linear;
    }
    .content #blurrable_section #shih_zoo_download_button {
        height: 60px;
        transition: 250ms;
        position: absolute;
        bottom: 13%;
        left: 3%;
        transition: 250ms linear;
        border-color: black;
        background-color: white;
        border-radius: 10px;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        font-size: 5vw;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        word-break: break-word;
        border-style: solid;
        font-family:'Fira Sans';
        text-decoration: none;
        filter: drop-shadow(0 5px);
        transition: transform filter 250ms;
    }
    .content #blurrable_section #shih_zoo_download_button:hover {
        transition: transform filter 250ms linear;
        transform: translate(0px, 5px);
        filter: drop-shadow(0 0);
    }
    .content #blurrable_section #les_dudes_coming_soon {
        position: absolute;
        height: auto;
        width: 30%;
        right: 4%;
        bottom: 20%;
        transition: filter 250ms linear;
    }
    .content #blurrable_section #les_dudes_coming_soon:hover {
        filter: brightness(75%);
        transition: filter 250ms linear;
    }
    .content #blurrable_section .consumer_social_media {
        position: absolute;
        bottom: 13%;
        right: 3%;
    }
    .content #blurrable_section .consumer_social_media .consumer_social_media_icons {
        display: inline;
        color: white;
        font-size: 8vw;
        text-decoration: none;
        transition: 250ms linear;
    }
    .content #blurrable_section .consumer_social_media .consumer_social_media_icons:hover {
        transition: 250ms linear;
        filter: brightness(50%);
    }
    .content #shih_zoo_download_popup {
        visibility: hidden;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: fit-content;
        background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
    }
    .content #shih_zoo_download_popup.open_popup {
        visibility: visible;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_popup_close {
        float: right;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_popup_close #shih_zoo_download_popup_close_button {
        background-color: white;
        border: none;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_popup_header {
        display: grid;
        grid-template-columns: 29% 70%;
        column-gap: 1%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_popup_header #shih_zoo_app_logo {
        width: 100%;
        text-align: center;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_popup_header #shih_zoo_download_title {
        font-family: 'MuseoModerno';
        font-size: 8vw;
        color: black;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_popup_header #shih_zoo_download_text {
        font-family: 'Fira Sans';
        font-size: 3vw;
        color: black;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_popup_separator {
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_available_text {
        font-family: 'Fira Sans';
        font-size: 5vw;
        color: black;
        text-align: center;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_button_section {
        text-align: center;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_button_section .shih_zoo_download_button_links {
        text-decoration: none;
        padding: 2%;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_button_section .shih_zoo_download_buttons {
        width: 40vw;
        transition: 250ms linear;
        margin-bottom: 4%;
    }
    .content #shih_zoo_download_popup #shih_zoo_download_button_section .shih_zoo_download_buttons:hover {
        transition: 250ms linear;
        transform: scale(1.1);
    }
}