@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, html {
    overflow: visible;
    height: 200vh;
}
body {
    background-color: black;
}
.content {
    justify-content: space-around;
    align-items: flex-start;
    overflow: visible;
}
.content #background_video {
    min-height: 100vh;
    max-width: 100%;
    object-fit: fill;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(50%);
}
.unscrollable {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content.close {
    transition: all 0.4s ease-in;
    visibility: hidden;
}
.content .home_details #shameless_product_placement_logo {
    position: absolute;
    width: 15%;
    right: 2.5%;
    top: 2.5%;
    transition: 250ms linear;
}
.content .home_details #shameless_product_placement_logo:hover {
    transition: 250ms linear;
    filter: brightness(75%);
}
.content .home_details #home_text {
    color: white;
    font-family: 'MuseoModerno';
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 5vw;
}
.content .home_details #scroll {
    display: inline-block;
    text-decoration: none;
}
.content .home_details #scroll #down_arrow {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 1%;
    width: 2%;
    transition: 250ms linear;
    
}
.content .home_details #scroll #down_arrow:hover {
    transition: 250ms linear;
    filter: brightness(50%);
}
.content .home_details .scrollable_area #story_title {
    color: white;
    font-size: 6vw;
    font-family: 'MuseoModerno';
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bold;
    text-align: center;
}
.content .home_details .scrollable_area .section_titles {
    color: white;
    font-size: 4vw;
    font-family: 'MuseoModerno';
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}
.content .home_details .scrollable_area .description_section {
    margin-bottom: 10%;
}
.content .home_details .scrollable_area .description_section .description {
    font-size: 2vw;
    font-family: 'Fira Sans';
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    text-align: left;
}
.content .home_details .scrollable_area .serve_section {
    margin-bottom: 10%;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}
.content .home_details .scrollable_area .serve_section .serve_information {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.content .home_details .scrollable_area .serve_section .serve_information .serve_images {
    width: 50%;
    text-align: center;
    margin-bottom: 4%;
}
.content .home_details .scrollable_area .serve_section .serve_information .serve_button_links {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.content .home_details .scrollable_area .serve_section .serve_information .serve_buttons {
    color: white;
    font-size: 5vw;
    font-family: 'Fira Sans';
    text-align: center;
    transition: 250ms linear;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
.content .home_details .scrollable_area .serve_section .serve_information .serve_buttons:hover {
    filter: brightness(50%);
    transition: 250ms linear;
}
.content .home_details .scrollable_area .serve_section .serve_information .serve_list {
    display: inline-block;
    padding-left: 0;
    text-align: left;
}
.content .home_details .scrollable_area .serve_section .serve_information .serve_list .serve_description {
    color: white;
    font-size: 2vw;
    font-family: 'Fira Sans';
    list-style-position: outside;
    margin-left: 3%;
    margin-right: 3%;
}
.content .home_details .scrollable_area .team_section {
    margin-bottom: 10%;
}
.content .home_details .scrollable_area .team_section .team_social_media {
    text-align: center;
}
.content .home_details .scrollable_area .team_section .team_social_media .team_social_media_icons {
    display: inline;
    color: white;
    font-size: 4vw;
    text-decoration: none;
    margin: 4%;
    transition: 250ms linear;
}
.content .home_details .scrollable_area .team_section .team_social_media .team_social_media_icons:hover {
    transition: 250ms linear;
    filter: brightness(50%);
}
.content .home_details .scrollable_area .team_section .people {
    display: grid;
    grid-template-columns: 35% 63%;
    column-gap: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    margin-top: 5%;
}
.content .home_details .scrollable_area .team_section .people .people_images {
    width: 100%;
}
.content .home_details .scrollable_area .team_section .people .name_titles {
    font-size: 4vw;
    font-family: 'Fira Sans';
    color: white;
    text-align: center;
}
.content .home_details .scrollable_area .team_section .people .information_section .information_text {
    font-size: 1.5vw;
    font-family: 'Fira Sans';
    color: white;
}
.content .home_details .scrollable_area .team_section .people .information_section .information_social_media {
    font-size: 2vw;
    color: white;
    display: inline;
    margin-right: 2%;
    transition: 250ms linear;
}
.content .home_details .scrollable_area .team_section .people .information_section .information_social_media:hover {
    filter: brightness(50%);
    transition: 250ms linear;
}
.content .home_details .scrollable_area .game_section {
    padding-bottom: 40%;
}
.content .home_details .scrollable_area .game_section .games {
    column-gap: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    align-items: center;
}
.content .home_details .scrollable_area .game_section .games hr {
    color: white;
    border-color: white;
    text-align: center;
    height: 3px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    opacity: 100%;
}
.content .home_details .scrollable_area .game_section .games .games_titles {
    color: white;
    font-size: 3vw;
    font-family: 'MuseoModerno';
    margin-left: 1vw;
    margin-right: 1vw;
}
.content .home_details .scrollable_area .game_section .games .games_descriptions {
    color: white;
    font-size: 1.2vw;
    font-family: 'MuseoModerno';
    margin-left: 1vw;
    margin-right: 1vw;
}
.content .home_details .scrollable_area .game_section .games .games_clickables {
    display: grid;
    column-gap: 4%;
    grid-template-columns: 25% 71%;
    margin-bottom: 10%;
}
.content .home_details .scrollable_area .game_section .games .games_clickables .games_logos {
    width: 100%;
    transform: scale(0.95);
    transition: 250ms linear;
    display: inline;
}
.content .home_details .scrollable_area .game_section .games .games_clickables .games_logos:hover {
    transform: scale(1.05);
    transition: 250ms linear;
    padding: none;
}
.content .home_details .scrollable_area .game_section .games .games_clickables .games_buttons {
    border-radius: 999px;
    box-sizing: border-box;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1vw;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    border-style: solid;
    border-color: white;
    font-family:'Fira Sans';
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: 250ms linear;
}
.content .home_details .scrollable_area .game_section .games .games_clickables .games_buttons:hover {
    transition: 250ms linear;
    filter: brightness(50%);
}
@media only screen and (max-device-width: 1024px) {
    .content #background_video {
        min-height: 100vh;
        max-width: 100%;
        object-fit: fill;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        filter: brightness(50%);
    }
    .unscrollable {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .content.close {
        transition: all 0.4s ease-in;
        visibility: hidden;
    }
    .content .home_details #shameless_product_placement_logo {
        position: absolute;
        width: 40%;
        right: 3%;
        top: 3%;
        transition: 250ms linear;
    }
    .content .home_details #shameless_product_placement_logo:hover {
        transition: 250ms linear;
        filter: brightness(75%);
    }
    .content .home_details #home_text {
        color: white;
        font-family: 'MuseoModerno';
        position: absolute;
        top: 30%;
        left: 2%;
        font-size: 10vw;
    }
    .content .home_details #scroll {
        display: inline-block;
        text-decoration: none;
    }
    .content .home_details #scroll #down_arrow {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 1%;
        width: 6%;
        transition: 250ms linear;
        
    }
    .content .home_details #scroll #down_arrow:hover {
        transition: 250ms linear;
        filter: brightness(50%);
    }
    .content .home_details .scrollable_area #story_title {
        color: white;
        font-size: 10vw;
        font-family: 'MuseoModerno';
        margin-left: 1vw;
        margin-right: 1vw;
        font-weight: bold;
        text-align: center;
    }
    .content .home_details .scrollable_area .section_titles {
        color: white;
        font-size: 9vw;
        font-family: 'MuseoModerno';
        margin-left: 1vw;
        margin-right: 1vw;
        text-align: center;
    }
    .content .home_details .scrollable_area .description_section {
        margin-bottom: 10%;
    }
    .content .home_details .scrollable_area .description_section .description {
        font-size: 4vw;
        font-family: 'Fira Sans';
        color: white;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        text-align: left;
    }
    .content .home_details .scrollable_area .serve_section {
        margin-bottom: 10%;
        margin-left: 1vw;
        margin-right: 1vw;
        text-align: center;
    }
    .content .home_details .scrollable_area .serve_section .serve_information {
        display: block;
    }
    .content .home_details .scrollable_area .serve_section .serve_information .serve_images {
        width: 50%;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .content .home_details .scrollable_area .serve_section .serve_information .serve_button_links {
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .content .home_details .scrollable_area .serve_section .serve_information .serve_buttons {
        color: white;
        font-size: 8vw;
        font-family: 'Fira Sans';
        text-align: center;
        transition: 250ms linear;
        border: none;
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
    }
    .content .home_details .scrollable_area .serve_section .serve_information .serve_buttons:hover {
        filter: brightness(50%);
        transition: 250ms linear;
    }
    .content .home_details .scrollable_area .serve_section .serve_information .serve_list {
        list-style-position: outside;
    }
    .content .home_details .scrollable_area .serve_section .serve_information .serve_list .serve_description {
        color: white;
        font-size: 5vw;
        font-family: 'Fira Sans';
        margin-left: 6%;
        margin-right: 6%;
    }
    .content .home_details .scrollable_area .team_section {
        margin-bottom: 10%;
    }
    .content .home_details .scrollable_area .team_section .team_social_media {
        text-align: center;
    }
    .content .home_details .scrollable_area .team_section .team_social_media .team_social_media_icons {
        display: inline;
        color: white;
        font-size: 8vw;
        text-decoration: none;
        margin: 4%;
        transition: 250ms linear;
    }
    .content .home_details .scrollable_area .team_section .team_social_media .team_social_media_icons:hover {
        transition: 250ms linear;
        filter: brightness(50%);
    }
    .content .home_details .scrollable_area .team_section .people {
        display: block;
        margin-bottom: 10%;
    }
    .content .home_details .scrollable_area .team_section .people .people_images {
        width: 100%;
    }
    .content .home_details .scrollable_area .team_section .people .name_titles {
        font-size: 8vw;
        font-family: 'Fira Sans';
        color: white;
        text-align: center;
    }
    .content .home_details .scrollable_area .team_section .people .information_section {
        text-align: center;
    }
    .content .home_details .scrollable_area .team_section .people .information_section .information_text {
        font-size: 4vw;
        font-family: 'Fira Sans';
        color: white;
        text-align: center;
    }
    .content .home_details .scrollable_area .team_section .people .information_section .information_social_media {
        font-size: 6vw;
        color: white;
        display: inline;
        margin-right: 2%;
        transition: 250ms linear;
    }
    .content .home_details .scrollable_area .team_section .people .information_section .information_social_media:hover {
        filter: brightness(50%);
        transition: 250ms linear;
    }
    .content .home_details .scrollable_area .game_section {
        padding-bottom: 40%;
    }
    .content .home_details .scrollable_area .game_section .games {
        column-gap: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 4%;
        align-items: center;
    }
    .content .home_details .scrollable_area .game_section .games hr {
        color: white;
        border-color: white;
        text-align: center;
        height: 3px;
        background-color: white;
        border-width: 1px;
        border-style: solid;
        opacity: 100%;
    }
    .content .home_details .scrollable_area .game_section .games .games_titles {
        color: white;
        font-size: 6vw;
        font-family: 'MuseoModerno';
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .content .home_details .scrollable_area .game_section .games .games_descriptions {
        color: white;
        font-size: 4vw;
        font-family: 'MuseoModerno';
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .content .home_details .scrollable_area .game_section .games .games_clickables {
        display: grid;
        column-gap: 4%;
        grid-template-columns: 35% 61%;
        margin-bottom: 10%;
    }
    .content .home_details .scrollable_area .game_section .games .games_clickables .games_logos {
        width: 100%;
        transform: scale(0.95);
        transition: 250ms linear;
        display: inline;
    }
    .content .home_details .scrollable_area .game_section .games .games_clickables .games_logos:hover {
        transform: scale(1.05);
        transition: 250ms linear;
        padding: none;
    }
    .content .home_details .scrollable_area .game_section .games .games_clickables .games_buttons {
        border-radius: 999px;
        box-sizing: border-box;
        background-color: transparent;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 4vw;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        border-style: solid;
        border-color: white;
        font-family:'Fira Sans';
        text-decoration: none;
        margin-left: 1vw;
        margin-right: 1vw;
        transition: 250ms linear;
    }
    .content .home_details .scrollable_area .game_section .games .games_clickables .games_buttons:hover {
        transition: 250ms linear;
        filter: brightness(50%);
    }
}