@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/investor_background.jpg');

}
html {
    max-height: 2000px;
}
.unscrollable {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content.close {
    transition: all 0.4s ease-in;
    visibility: hidden;
}
.content #shameless_product_placement_logo {
    width: 15%;
    height: auto;
    margin-left: 6%;
    margin-top: 2%;
}
.content #shameless_product_placement_logo:hover {
    opacity: 90%;
}
.content .head_investment_information {
    background-image: linear-gradient(black 75%, transparent);
    height: 115vh;
}
.content .main_investment_information {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    align-items: center; 
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    margin-bottom: 4%;
}
.content .video {
    width: 60vw;
    height: 60vh;
}
.content .video #shih_zoo_investment_video {
    width: 100%;
    height: 100%;
}
.content .investment_information #title {
    font-size: 2.2vw;
    font-family: 'MuseoModerno';
    color: white;
}
.content .investment_information #description {
    font-size: 1.3vw;
    font-family: 'Fira Sans';
    color: gray;
}
.content .investment_information #invested {
    font-size: 1vw;
    font-family: 'Fira Sans';
    color: white;
}
.content .investment_information #options {
    background: #7335b1;
    border-radius: 7px;
    box-shadow: #7335b1 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1vw;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    word-break: break-word;
    border: 0;
    font-family:'Fira Sans';
    text-decoration: none;
}
.content .investment_information #options:hover {
    background: #4c2375;
}
.content .investment_information #information {
    margin-left: 1vw;
    background: #7335b1;
    border-radius: 7px;
    box-shadow: #7335b1 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1vw;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    word-break: break-word;
    border: 0;
    font-family:'Fira Sans';
    text-decoration: none;
}
.content .investment_information #information:hover {
    background: #4c2375;
}
.content .extra_investment_information {
    display: block;
    width: 100%;
}
.content .extra_investment_information #title {
    color: white;
    font-size: 6vw;
    font-family: 'MuseoModerno';
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bold;
    text-align: center;
}
.content .extra_investment_information .section_titles {
    color: white;
    font-size: 4vw;
    font-family: 'MuseoModerno';
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}
.content .extra_investment_information .team_section .people {
    display: grid;
    grid-template-columns: 40% 58%;
    column-gap: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}
.content .extra_investment_information .team_section #ceo {
    width: 100%;
}
.content .extra_investment_information .name_titles {
    font-size: 4vw;
    font-family: 'Fira Sans';
    color: white;
    text-align: center;
}
.content .extra_investment_information .section_information {
    font-size: 1.2vw;
    font-family: 'Fira Sans';
    color: white;
}
.content .extra_investment_information .team_section #game_developer {
    width: 100%;
}
.content .extra_investment_information .faq_section {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 5vh;
}
.content .extra_investment_information .faq_section .questions {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    font-size: 1.3vw;
    font-family: 'Fira Sans';
}
.content .extra_investment_information .faq_section .answers {
    color: white;
    font-size: 1.2vw;
    font-family: 'Fira Sans';
}
.content #investor_contact_information {
    margin-top: 10vh;
    grid-template-columns: 30% 70%;
    display: grid;
    height: 260vh;
}
.content #contact_section {
    display: inline-block;
    background-image: linear-gradient(black, #7b58d1 70%);
    font-family: 'Oswald';
    text-align: center;
    color: white;
}
.content #contact_title {
    font-size: 5vw;
}
.content #contact_secondary_title {
    font-size: 3vw;
}
.content #contact_information {
    font-size: 1.5vw;
    text-align: left;
    margin-left: 5%;
}
.content .icons {
    font-size: 1.5vw;
    color: white;
    margin-left: 5%;
    display: inline;
}
.content .icons:hover {
    color: gray;
}
.content #contact_form {
    display: inline;
    background-image: linear-gradient(gray, #7b58d1 70%);
    text-align: center;
    font-family: 'Oswald';
}
.content .contact_form_name {
    width: 45%;
    display: inline;
    margin-top: 40px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}
.content .contact_form_name::placeholder {
    color: black;
}
.content #contact_form_email {
    width: 92.5%;
    display: inline;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}
.content #contact_form_email::placeholder {
    color: black;
}
.content #contact_form_company {
    width: 92.5%;
    display: inline;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}
.content #contact_form_company::placeholder {
    color: black;
}
.content #contact_form_message {
    width: 92.5%;
    height: 100%;
    display: inline;
    padding: 10px 10px;
    background: none;
    border: 2px solid black;
    color: black;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    resize: none;
}
.content #contact_form_message::placeholder {
    color: black;
}
.content #contact_form_submit_button {
    width: 92.5%;
    display: inline;
    padding: 10px 10px;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}
.content #contact_form_submit_button:hover {
    background-color: gray;
}
.projects_menu_options {
    border: 1px solid black;
    margin-top: 2vh;
}
.projects_menu_options .projects_menu_images {
    width: 100%;
}
.projects_menu_options .projects_menu_titles {
    font-size: 2vw;
    font-family: 'Fira Sans';
}
.projects_menu_options .projects_menu_values {
    font-size: 1.5vw;
    font-family: 'Fira Sans';
}
.projects_menu_options .projects_menu_descriptions {
    font-size: 1vw;
    font-family: 'Fira Sans';
}
.projects_menu_options .projects_menu_benefits_title {
    font-size: 1vw;
    font-family: 'Fira Sans';
}
.projects_menu_options .projects_menu_benefits {
    font-size: 1vw;
    font-family: 'Fira Sans';
}