@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-image: url('assets/partner_background.gif');
    margin: 0;
    padding: 0;
}
html {
    max-height: 2000px;
}
.unscrollable {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content.close {
    transition: all 0.4s ease-in;
    visibility: hidden;
}
.content #shameless_product_placement_logo {
    width: 55%;
    height: auto;
    position: absolute;
    left: 30%;
    top: 25%;
    transition: 250ms linear;
}
.content #shameless_product_placement_logo:hover {
    filter: brightness(75%);
    transition: 250ms linear;
}
.content #partner_buttons {
    position: absolute;
    left: 3%;
    top: 50%;
}
.content #partner_contact_button {
    height: 60px;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 3vw;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    word-break: break-word;
    border: 0;
    margin-left: 10vw;
    font-family:'Fira Sans';
    text-decoration: none;
    transition: 250ms;
}
.content #partner_contact_button:hover {
    background:#4747b7;
    transition: 250ms;
}
.content #partner_overlay {
    position: absolute;
    top: 80%;
    width: 100%;
    background-image: linear-gradient(transparent, white 10%);
}
.content #partner_information {
    margin-top: 20%;
    margin-bottom: 10%;
}
.content #partner_title {
    text-align: center;
    font-size: 10vw;
    font-family: 'EB Garamond';
}
.content .partner_information_part_1 {
    display: grid;
    align-items: center; 
    grid-template-columns: 60% 40%;
    column-gap: 5px;
    margin-left: 2%;
    margin-right: 2%;

}
.content #partner_details_part_1 {
    font-size: 1.5vw;
    margin-right: 20px;
    font-family: 'EB Garamond';
    display: inline-block;
}
.content #partner_example_1 {
    display: inline-block;
    width: 100%;
}
.content .partner_information_part_2 {
    margin-top: 20px;
    display: grid;
    align-items: center; 
    grid-template-columns: 40% 60%;
    column-gap: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
.content #partner_details_part_2 {
    font-size: 1.5vw;
    margin-left: 10px;
    margin-right: 20px;
    font-family: 'EB Garamond';
    display: inline-block;
}
.content #partner_example_2 {
    display: inline-block;
    width: 100%;
}
.partner_options_menu_options {
    border: 1px solid black;
    margin-top: 2vh;
}
.partner_options_menu_images {
    width: 100%;
}
.partner_options_menu_titles {
    font-size: 2vw;
    font-family: 'Fira Sans';
}
.partner_options_menu_values {
    font-size: 1.5vw;
    font-family: 'Fira Sans';
}
.partner_options_menu_descriptions {
    font-size: 1vw;
    font-family: 'Fira Sans';
}
.partner_options_menu_benefits_title {
    font-size: 1vw;
    font-family: 'Fira Sans';
}
.partner_options_menu_benefits {
    font-size: 1vw;
    font-family: 'Fira Sans';
}